<!-- Footer -->
<footer class="page-footer-dark text-white bg-primary">

    <!-- Footer Links -->
    <div class="container text-center text-md-left pt-4 pt-md-5">
  
      <!-- Grid row -->
      <div class="row mt-1 mt-md-0 mb-4 mb-md-0">
  
        <!-- Grid column -->
        <div class="col-md-6 mx-auto mt-3 mt-md-0 mb-0 mb-md-4">
  
          <!-- Links -->
          <h5 style="text-shadow: blackl 2px 3px;">Contact Us On :</h5>
          <hr class="color-primary mb-4 mt-0 d-inline-block mx-auto w-60">
  
          <a routerLink="/contacts" routerLinkActive="active-link">Afifdaw1@hotmail.com</a><br><br>
          <a routerLink="/contacts" routerLinkActive="active-link">jaboalhija@gmail.com</a>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-6 mx-auto mt-3 mt-md-0 mb-0 mb-md-4">
  
          <!-- Links -->
          <h5 style="text-shadow: blackl 2px 3px;">Welcome &nbsp; <strong>{{validUser.Username}}</strong></h5>
          <hr class="color-primary mb-4 mt-0 d-inline-block mx-auto w-60">
  
          <p>We wish you a great experince surfing on the website.</p>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3" style="text-shadow: black 2px 2px;">Copyright &copy; 2021. All Rights Reserved
    <a style="color: #1C8352;">GymBag.com</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->