.card{
    background-image: url(https://media.licdn.cn/dms/image/C4D1BAQE05PfMo8fY9A/company-background_10000/0/1596824451286?e=2159024400&v=beta&t=4rReKkMtxRlucbGsNW3eeqSP4dO6M5hLv4y_SZEj1Hs);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
}