#flexBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin: 2%;
}

#section1{
    position:relative;
    display: flex;
    justify-content: space-evenly;
}

 .row:hover{
     transform: scale(1.1);
     
 }
